{% extends "base.html" %}

{% block content %}
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1 class="heading">Hi, I'm Dmitry Zhdankin.<br>My friends call me <b>Dima</b>.</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="../static/images/myphoto.jpg" alt="Avatar" class="avatar-img"  title="I love Gaudi. Who doesn't?">
            </div>
            <div class="about-me col-md-6 col-sm-12 margin-top-35">
                <h2>About me</h2>
                    <p>I was born in Moscow and lived in Russia until I was about 16.
                      I moved to the US and went to Rutgers University for my undergraduate degree in economics.
                      I then worked for the IMF where I focused on economic assistance in West Africa, especially for countries affected by the Ebola epidemic. I later pursued my MBA at Harvard and founded a startup that helped businesses create financial projections with data science.</p>
                    <p>Right before my first semester at Harvard, I went on a road trip where I drove for 18 hours to see two buildings:
                      Philip Johnson's <a href="https://en.wikipedia.org/wiki/Glass_House" target="_blank">Glass House</a>
                      and Frank Lloyd Wright's <a href="https://en.wikipedia.org/wiki/Fallingwater" target="_blank">Fallingwater</a>.
                      The experience of seeing these iconic buildings made me realize how much I love architecture, real estate, and creating unique experiences with physical spaces.</p>
                    <p>I currently live in Los Angeles where I work at intersection of real estate acquistions & data science at <a href="https://techcrunch.com/2018/03/20/travis-kalanick-is-already-back-to-running-a-company-with-a-150m-investment/" target="_blank">CSS</a></p>.
                    <p>Feel free to follow me on <a href="https://medium.com/@dmitryzhdankin" target="_blank">Medium</a> or <a href="https://twitter.com/dmitryzhdankin" target="_blank">Twitter</a> if you want to stay in touch.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
